.s-1 { 
    background-image: url("../../images/banner/banner-1.jpeg");
}

.s-2 { 
    background-image: url("../../images/banner/banner-3.jpeg");
}

.s-3 { 
    background-image: url("../../images/banner/banner-4.jpeg");
}

.s-4 { 
    background-image: url("../../images/banner/banner-2.jpeg");
}

.s-5 { 
    background-image: url("../../images/banner/banner-5.jpeg");
}

.s-6 { 
    background-image: url("../../images/banner/banner-6.jpg");
}

